#blog-body-content-list{


    padding: 4% 6%; 

	.heading-section{
        font-size: 2em;
        font-weight: bold;
        margin: 4% auto;
        color: #ffff !important;
	}
}

#tailored-grid-blog-template{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
}

.grid-parent-blog{
  
    font-weight: 900;
    text-decoration: underline;
    color: #ffffff !important;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    background: #000000e3;
    padding: 9%;
    
    .blog-link{
        text-align: left;
        margin-top: 30px;
         
    	a{
            font-weight: 900;
            color: #ffffff !important;
            background: #40a9ff82;
            padding: 10px;
    	}
    }
    
    .blog-num{
	    font-size: 4rem;
	    font-weight: 700;
	    text-align: center;
	    margin-top: 25px;
    }

    .blog-body{
    	h1{
            font-size: 1.5rem;
            color: #fff !important;
    	}

    	.blog-date{
    		font-size: 11px;
		    text-transform: uppercase;
		    font-weight: 100;
		    letter-spacing: 3px;
		    color: #f4954e;	
    	}
    }
}


/*
====================
    Single Postss
====================
*/

.single-heading-title-post{
    font-size: 4rem;
    font-weight: 900;
}

.two-blog-grid{
    display: grid;
    grid-template-columns: 11% 1fr;
    align-items: center;
    margin: 2% 0;
}

.single-post-thumbnail{
    img{
        border-radius: 50%;
        width: 50%;
    }
}

.author-name-single-post{
    a{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        color: #d59c1c !important;
    }
}

.single-post-thumbnail{
    text-align: center;
}

.single-post-date{
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: italic;
}

.commentSection{
    margin: 7% 0;
}

.section-single-blog-post{
    padding: 17% 9%;
}

.blog-nav-prio{
    background: #141414;
}

.grid-content-post{
    display: block;
    width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.published-on{
    font-size: 12px;
    margin-right: 14px;
    font-style: italic;
    color: #eeeeeea8;
}


.single-post-content{
    P{
        font-family: 'Poppins' !important;
    }
}