
/*Snipcart Defaults*/

.snipcart-button-container{
    width: 100%;

    .snipcart-add-item{
        background: #1890ff !important;
        color: #fff !important;
        text-transform: uppercase;
        font-weight: bold;
    }
}

#snipcart-header{
    background: #eee !important;
}
		
.snip-layout .snip-footer{
	background: #d8d8d8 !important;
}

.snip-layout .snip-btn--highlight{
	background-color: #1890ff !important;
    color: #ffff !important;
}